*{
margin: 0;
padding: 0;
}
body {
  background: white;
}

.grid{
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  text-align: center;
  grid-template-areas: 
  "item1 item3 item3 item4 item5"
  "item2 item3 item3 item4 item5"
  ;
  padding: 1em;
  gap: 0.5em;
  height: 10em;
}


.item:nth-child(1){
  background-color: rgb(156, 24, 200);
  grid-area: item1;
}
.item:nth-child(2){
  background-color: chocolate;
  grid-area: item2;
}
.item:nth-child(3){
  background-color: chartreuse;
  grid-area: item3;
}
.item:nth-child(4){
 background-color: #4ec0e6;
 grid-area: item4;
}
.item:nth-child(5){
  background-color: lightpink;
  grid-area: item5;
}



.diamond{
  width: 20px;
  height: 20px;
  background-color: white;
  transform: rotate(-45deg);
  margin-top: 5em;
}
.diamond p{
  transform: rotate(45deg);
} 
.tooltip{
  display: none;
}